{% extends 'base/base_dashboard.html' %}

{% block content %}
    <div class="container">
        <h2>Tus Pacientes</h2>
        <ul class="list-group mt-3">
            {% for paciente in pacientes %}
                <li class="list-group-item">
                    <a href="{% url 'ficha_paciente' paciente.id %}" class="text-decoration-none">
                        {{ paciente.usuario }} - {{ paciente.fecha_de_nacimiento }}
                    </a>
                </li>
            {% empty %}
                <li class="list-group-item">No tienes pacientes asignados.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
