<h1>Detalle del Archivo</h1>
    
    <!-- Mostrar el título o nombre del archivo -->
    <h2>{{ archivo.titulo }}</h2>

    <!-- Verificar el tipo de archivo y mostrarlo adecuadamente -->
    {% if archivo.tipo == 'video' %}
        <video width="640" height="360" controls>
            <source src="{{ archivo.archivo.url }}" type="video/mp4">
            Tu navegador no admite la reproducción de videos.
        </video>
    {% elif archivo.tipo == 'pdf' %}
        <embed src="{{ archivo.archivo.url }}" type="application/pdf" width="100%" height="600px" />
    {% else %}
        <p>Este tipo de archivo no es compatible.</p>
    {% endif %}

    <div class="text-center">
        <a href="{% url 'doctor_dashboard' %}" class="btn btn-primary">Volver al Dashboard</a>
        <a href="{% url 'logout' %}" class="btn btn-secondary">Cerrar Sesión</a>
    </div>